body {
    background-color: white;
    background-color: rgb(255,255,255);
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b7410e;
}

div {
  float: right;
  background: white;
  width: 400px;
  display: none;
  border-radius: 0px 0px 0px 10px; /* only want bottom left corner rounded */
}

div.toggleOn {
  display: block;
}

div h1 {
  text-align: center;
  font-family: 'Londrina Sketch', cursive;
  color: #b7410e;
  font-size: 2rem;
}

div p {
  padding: 10px;
  margin: 0px;
}

h1 {
  margin: 0;
}

nav {
  width: 100%;
  background: white;
  height: 60px;
  margin: 0;
  border-bottom: 1px solid black;
  /* Remove highlighting on nav*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* non-prefixed version, currently not supported by any broswer */

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav > ul > li:nth-child(3) {
  font-size: 3rem;
  font-family: 'Fredericka the Great', cursive;
}

nav ul li ul {
  position: absolute;
  left: 0;
  display: none;
  background: white;
}

nav ul li ul li {
  display: block;
  padding: 4px 12px;
  min-width: 60px;
}

nav ul li:hover ul {
  display: block;
}

a {
  cursor: pointer;
  color: #b7410e;
  text-decoration: none;
}

a:link, a:visited {
  color: #b7410e;
  text-decoration: none;
}

@media (max-width: 700px) {
  nav > ul > li {
    margin-right: 10px;
  }
}

@media (max-width: 467px) {
  nav > ul > li {
    margin-right: 0px;
  }

  nav > ul > li:first-child, nav > ul > li:nth-child(4) {
    margin-right: 40px;
  }

  nav > ul {
    margin: auto;
    width: 300px;
  }

  nav {
    height: 100px;
  }
}
